.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-corps {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-video {
  min-width: 400px;
  min-height: 400px;
  border: 10px solid white;
  border-radius: 10px;
}

.App-div-Button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-button {
  font-family: Arial, Helvetica, monospace;
  font-size: 20px;
  font-weight: bold;
  padding:8px 25px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(#C5C5FF, #4d4df1, #C5C5FF);
  color: #FFFFFF;
  cursor:pointer;
}
